@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello</h1>

    <h1 class="display-4">and</h1>

    <h1 class="display-4">Welcome!</h1>
    <br />
    <br />

    <p1 class="display-4">This project is made by Samuel from TU</p1>

</div>
